<h1><%= @artist.name %></h1>

<p><%= link_to "Delete", artist_path(@artist), :method => :delete, :confirm => "Are you sure you want to delete artist \"#{@artist.name}\"?" %></p>
<p><%= link_to "Back", artists_path %></p>

<hr />
<h2>Tweets</h2>

<%- for tweet in @tweets -%>
	<p>
		<%= tweet.status %><br />
		by <em><%= tweet.user.username %></em> <%= time_ago_in_words tweet.posted_at %> ago
	</p>
<%- end -%>

<%= will_paginate @tweets, :page_links => false %>

<hr />

<%= button_to "Fetch Tweets", fetch_tweets_artist_path(@artist) %>